<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'components/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <title>Tim Keller - Projects</title>
    <link rel="icon" href="/static/images/Logo.svg">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% include 'components/navbar.html' %}
    {% include 'components/parallax_background.html' %}


    <div class="container pt-1 content">
        <div class="row mt-4">

                <div class="mb-4 rounded p-5 NormalText TextBox align_title_and_search">
                    <h2 class="p-0 Title fs-1 mtb-3 me-3 col">projects</h2>
                    <input type="text" id="articleSearch" onkeyup="articleSearchFunction()" placeholder="Search..." class="form-control w-50 col border-0">
                </div>

                <div class="mb-4 rounded p-5 NormalText TextBox">
                    <div class="container mt-5">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {% for example in examples %}
                            <a href="{{ example.0 }}" class="text-decoration-none col-md-4 searched_element">
                                <div class="card shadow border-0">
                                    <img src="{{ url_for('static', filename=example.4) }}" class="card-img-top" alt="Image Alt Text">
                                    <div class="card-body">
                                        <h5 class="card-title searched_name ">{{ example.1 }}</h5>
                                        <p class="card-text">{{ example.2 }}</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="noise parallaxImage"></div>
    <div class="new_background parallaxImage"></div>
</body>
</html>