<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top">
  <div class="w-25 d-none d-lg-block"></div>
  <a class="Title navbar-brand pt-3 ps-3 pb-3 fs-4 d-block d-lg-none" href="/">tK | data science</a>
  <a class="Title navbar-brand p-3 fs-2 d-none d-lg-block" href="/">tim Keller</a>
  <a class="SubTitle navbar-brand fs-4 d-none d-lg-block" href="/">| data science</a>
  <a class="SubTitle navbar-brand fs-4 d-none d-lg-block" href="/">| tech lead</a>


  <button class="navbar-toggler m-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid w-75 mx-auto">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link SubTitle" href="/">start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link SubTitle" href="/blog">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link SubTitle" href="/examples">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link SubTitle" href="/aboutme">about</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-25 d-none d-lg-block"></div>
</nav>