<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top">
  <div class="w-25 d-none d-lg-block"></div>
  <a class="Title navbar-brand pt-3 ps-3 pb-3 fs-2 d-none d-md-block">tim Keller</a>
  <a class="Title navbar-brand pt-3 ps-3 pb-3 fs-4 d-block d-md-none">tK</a>
  <a class="SubTitle navbar-brand fs-4">| data scientist</a>
  <a class="SubTitle navbar-brand fs-4 d-none d-lg-block">| tech lead</a>


  <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid w-75 mx-auto">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/examples">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutme">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-25 d-none d-lg-block"></div>
</nav>