<img src="/static/images/background/plot_white.svg" class="fixed_image background_plot parallaxImage">
<img src="/static/images/background/nn_white.svg" class="fixed_image background_nn parallaxImage">

<!-- These background images will be hidden on smaller screens -->
<img src="/static/images/background/tree_white.svg" class="fixed_image background_tree parallaxImage d-none d-xl-block">
<img src="/static/images/background/atom_white.svg" class="fixed_image background_atom parallaxImage d-none d-xl-block">